* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body {
    background-color: #070f2b;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.mainWrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
   
}

.orange-container {
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: halim;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 2s;
    animation-iteration-count: infinite;
    width: 270px;
    height: auto;
     margin-bottom: 200px;
}


.applee {
    position: absolute;
    width: 200px;
    height: 200px;
}

.apple-top {
    background: url(./my-image/one.png) no-repeat center center /cover;
    transform: rotate(-45deg) skew(15deg, 15deg);
    transition: 0.5s;
}

.apple-left {

    transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
    background: url(./my-image/three.jpg) no-repeat center center / cover;
    transition: 0.5s;
}

.apple-right {

    transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
    background: url(./my-image/two.jpg
) no-repeat center center / cover;
    transition: 0.5s;
}

@keyframes halim {
    20% {
       
        transform: rotateY(180deg);
    }

    80% {
        transform: rotateY(360deg);
    }

}